<!DOCTYPE html>

<html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <title>#Hashtag</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    </head>

   <body id="page-top" style="background:url(../static/img/BackgroundImage.jpg) no-repeat fixed center;background-size: cover">

        <!-- Header -->
        <header class="masthead d-flex" style="margin-top: 7%;">

                <div class="container text-center my-auto">

                    <h3 class="mb-5">

                        <div class="jumbotron" style="background-color: transparent">

                            <h1 class="display-4">#Hashtag!</h1>
                            <p><em>A free hashtag generator.</em><br><h4 id="group1">just upload your picture</h4></p>

                            <div class="custom-file" style="width: 20%;font-size: 15px;text-align: left;" id="group2">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" >
                                <label class="custom-file-label" for="inputGroupFile01" style="">Upload image</label>
                            </div>

                             <div class="btn-group" style="margin-top:10px;width:100%;" id="group3">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="width:15%;margin-left: auto;margin-right: auto;">Theme</button>
                                <div class="dropdown-menu" style="width: 15%">
                                    <a class="dropdown-item" href="#" themeValue="lifestyle">Lifestyle</a>
                                    <a class="dropdown-item" href="#" themeValue="sport">Sport</a>
                                    <a class="dropdown-item" href="#" themeValue="outfit">Outfit</a>
                                </div>

                             </div>

                             <div class="alert alert-success" id="hashtag" role="alert" style="margin-top: 30px;display:none; width: 50%; margin-left: auto;margin-right: auto;">
                                <p class="mb-0" id="hashtagResult" style="font-size: 15px">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
                                <button type="button" class="btn btn-primary" style="margin-top: 5%">Upload new image</button>
                             </div>



                        </div>

                    </h3>



                </div>

        </header>

        <!-- ***************************************** JAVASCRIPT ***************************************** -->

        <script type="text/javascript" src="/static/middleware.js"></script>

   </body>

</html>